/* css styles */
h1 {
    font-weight: lighter;
}

h1.title {
    font-weight: bold;
    color: #367ec4
}

.table-block {
    border: none !important;
    border-spacing: 10px;
    border-collapse: separate;
}
.table-block-header1 {
    background-color: #95e2e9 !important;
    text-align: center;
    font-weight: bold;
    border: none !important;
}
.table-block-header2 {
    background-color: #c0eef2 !important;
    text-align: center;
    font-weight: bold;
    border: none !important;
}
.table-block-content {
    background-color: white !important;
    border: none !important;
    text-align: left;
}

.table-rowspan {
    border: none !important;
    border-spacing: 0;
    border-collapse: separate;
}
.table-rowspan th {
    text-align: center;
}
.table-rowspan td {
    vertical-align: middle;
    text-align: left;
}

.front-tile {
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
    background-color: #c0eef2;
}
.front-tile a {
    color: #16636a;
    text-decoration: none;
}
.front-tile:first-of-type {
    background-color: #95e2e9;
}

.task-properties td:first-child {
    background-color: #c0eef2;
}