/* css styles */
h1 {
    font-weight: lighter;
}

h1.title {
    font-weight: bold;
    color: #367ec4
}

.table-block {
    border: none !important;
    border-spacing: 10px;
    border-collapse: separate;
}
.table-block-header1 {
    background-color: #95e2e9 !important;
    text-align: center;
    font-weight: bold;
    border: none !important;
}
.table-block-header2 {
    background-color: #c0eef2 !important;
    text-align: center;
    font-weight: bold;
    border: none !important;
}
.table-block-content {
    background-color: white !important;
    border: none !important;
    text-align: left;
}

.table-rowspan {
    border: none !important;
    border-spacing: 0;
    border-collapse: separate;
}
.table-rowspan th {
    text-align: center;
}
.table-rowspan td {
    vertical-align: middle;
    text-align: left;
}

.front-tile {
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
    background-color: #c0eef2;
}
.front-tile a {
    color: #16636a;
    text-decoration: none;
}
.front-tile:first-of-type {
    background-color: #95e2e9;
}

.front-tile-green {
    border-bottom: 5px solid #00cc00;
}
.front-tile-gold {
    border-bottom: 5px solid goldenrod;
}
.front-tile-grey {
    border-bottom: 5px solid grey;
}

.task-properties td:first-child {
    background-color: #c0eef2;
}

.task-header {
    background-color: #c0eef2;
    padding: 0 12px;
}
.task-header p:first-of-type {
    font-size: x-large;
    font-weight: bold;
}
.task-header p:nth-of-type(2) {
    font-size: smaller;
    font-style: italic;
}

.bookmark {
    padding: 0 10px;
    border: 5px solid grey;
    max-width: 500px;
    font-style: italic;
}